.layout
{
    font: 81.25% Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr 180px;
    grid-template-rows: 60px auto 140px auto 500px;
    grid-template-areas: 'a 0 0 b c' 'p d d f f' 'y s s s o'
        'x promo promo promo k' 'z l m r u';
}

[id='visited']:not(:checked) ~ [id='joke']:not(:checked) ~ .layout
{
    grid-template-areas: 'a 0 0 b c' 'p d d f f' 'y s s s o'
        'x promo promo promo k' 'z m r l u';
}

[id='tv-programm']:not(:checked) ~ [id='car-news']:not(:checked) ~ .layout
{
    grid-template-areas: 'a 0 0 b c' 'p d d f f' 'y s s s o'
        'x promo promo promo k' 'z l r m u';
}

[id='visited']:not(:checked) ~ [id='joke']:not(:checked) ~ input[
id='tv-programm']:not(:checked) ~ [id='car-news']:not(:checked) ~ .layout
{
    grid-template-areas: 'a 0 0 b c' 'p d d f f' 'y s s s o'
        'x promo promo promo k' 'z r l m u';
}

.settings
{
    display: flex;
    flex-direction: column;
    cursor: default;
    position: relative;
    padding: 10% 0 0 10%;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 2px 0 #0000001a, 0 2px 6px 0 #0000001a;
    width: 200px;
}

.scroll
{
    overflow: auto;
    height: 200px;
    width: 270px;
}

.news
{
    font: .75em/1.6em Verdana, sans-serif;
    line-height: 2;
}

.blue-title:hover
{
    color: #f00;
}

.blue-title
{
    color: #0054b9;
    text-decoration: none;
}

.row
{
    padding-right: 20px;
}

.city
{
    grid-area: a;
    margin: 12px 0 0 35px;
}

.b
{
    grid-area: b;
}

.d
{
    font-size: 16px;
    grid-area: d;
}

.c
{
    width: 180px;
    height: 150px;
    padding-left: 10px;
    box-shadow: 0 0 2px 0 #0000001a, 0 2px 6px 0 #0000001a;
    grid-area: c;
}

.sun
{
    width: 25px;
}

.i
{
    grid-area: i;
}

.settings
{
    display: block;
}

.browser
{
    grid-area: f;
}

.logo
{
    flex: 0 0 auto;
    padding-left: 20px;
    text-align: right;
    grid-area: y;
}

.search
{
    grid-area: s;
}

.search-block
{
    margin-top: 20px;
}

.find-button::after
{
    content: '';
    position: absolute;
    top: -4px;
    right: -30px;
    border: 19px solid transparent;
    border-left: 9px solid #fc0;
}

.find-button
{
    position: absolute;
    display: inline;
    font-size: 16px;
    width: 88px;
    height: 36px;
    border: 2px solid #fcca42;
    background: #fcca42;
    cursor: pointer;
}

.data
{
    font-size: 12px;
}

.search-line
{
    display: inline;
    width: 731px;
    height: 36px;
    border: 2px solid #fcca42;
}

.middle-side
{
    grid-area: m;
}

.promo
{
    grid-area: promo;
}

.left-side
{
    max-width: 80%;
    grid-area: l;
}

.right-side
{
    grid-area: r;
}

li
{
    margin-left: -23px;
}

.half-opacity
{
    opacity: .5;
}

.img
{
    display: inline;
}

.bold
{
    font-weight: bold;
}

.firstJoke,
.secondJoke,
.thirdJoke,
.fourthJoke,
.fifthJoke,
label.next,
.settings,
.car-news,
input,
.visited,
.trafic-jams,
.weather,
.map,
.jokes,
.tv-show
{
    display: none;
}

.layout .left-side input 
{
    display: none;
}

[id='button1']:checked ~ .firstJoke,
[id='button1']:checked ~ .next[for='button2'],
[id='button2']:checked ~ .secondJoke,
[id='button2']:checked ~ .next[for='button3'],
[id='button3']:checked ~ .thirdJoke,
[id='button3']:checked ~ .next[for='button4'],
[id='button4']:checked ~ .fourthJoke,
[id='button4']:checked ~ .next[for='button5'],
[id='button5']:checked ~ .fifthJoke,
[id='button5']:checked ~ .next[for='button1'],
input[type='checkbox']:checked ~ .settings,
[id='car-news']:checked ~ main .car-news,
[id='weather']:checked ~ main .weather,
[id='jam']:checked ~ main .trafic-jams,
[id='tv-programm']:checked ~ main .tv-show,
[id='map']:checked ~ main .map,
[id='joke']:checked ~ main .jokes,
[id='visited']:checked ~ main .visited,
main form input,
.settings label
{
    display: block;
}

.settings label::before
{
    content: '';
    background-image: url('close.png');
    display: inline-block;
    background-size: contain;
    width: 14px;
    height: 14px;
}

input[id='visited']:checked ~ main label[for='visited']::before,
input[id='jam']:checked ~ main label[for='jam']::before,
input[id='tv-switch']:checked ~ main label[for='tv-switch']::before,
input[id='weather']:checked ~ main label[for='weather']::before,
input[id='car-news']:checked ~ main label[for='car-news']::before,
input[id='map']:checked ~ main label[for='map']::before,
input[id='tv-programm']:checked ~ main label[for='tv-programm']::before,
input[id='joke']:checked ~ main label[for='joke']::before
{
    background-image: url('vision-button.png');
}

